name: Demo Qa PW Regression
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Install Dependencies
        run: mvn install -DskipTests

      - name: Install Playwright Browsers
        # This uses the CLI from your 1.47.0 dependency to install browsers in the VM
        run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps"

      - name: Run TestNG Parallel Suite
        # Pass the name of your XML file to the property we created in the pom.xml
        run: mvn test -DsuiteXmlFile=testng.xml

      - name: Upload Extent Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: DemoQa-Report
          path: build/TestExecutionReport.html